:root {
    --purple: #67399B;
    --red: #E33B40;
    --orange: #F8712E;
    --yellow: #F9DB0E;
    --blue: #48B7CD;
    --darkblue: navy;
    --black: black;
    --white: white;
  }

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

.app {
  text-align: center;
}

.main-landing {
  background-color: var(--purple);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--darkblue);
}

.left-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px; /* Adjust the width as needed */
  background-color: var(--blue);
  color: var(--black);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 10px var(--black);
}

.left-sidebar .bottom-section {
  flex: 1; /* Bottom section takes remaining vertical space */
}

.left-sidebar .menu-item {
  padding: 10px 0;
  font-size: 18px;
  text-decoration: none;
  color: var(--black);
  transition: 0.3s;
}

.left-sidebar .menu-item:hover {
  background-color: var(--blue);
}