.footer{
    background: linear-gradient(#67399b, #FFFFFF);
    color: black;
    padding: 50px;
    margin-top: 10px;
    border: solid black;

    p{
        font-size: 30px;
        font-weight: 500;
    }
}